<h1><p>All the pizzas!</p></h1>

<% for order in @orders  %>
  <p><h3>Name: <%= order.pretty_name() %></h3></p>
  <p><h3>Order: <%= order.quantity()  %> X <%= order.topping() %></h3></p>
  <p><h3><a href="/pizza_orders/<%= order.id %>">Show Order</a></h3></p>





  <hr />
<% end  %>
