<form method="post" action="/pizza_orders">

<p>First Name: <%= @order.first_name %></p>
<p>Last Name: <%= @order.last_name %></p>
<p>Topping: <%= @order.topping %></p>
<p>Quantity: <%= @order.quantity %></p>

<input type="submit" value="Delete Order">

</form>
